/*!*******************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/css/app.css ***!
  \*******************************************************************/
:root{
    --button-font-color:#FFFFFF;
    --button-bg-color:#00BCD4;
    --button-hover-bg-color:#91F3FF;
    --button-disabled-bg-color:#ddd;
    --nav-bg-color: #F5F5F5;
    --nav-hover-bg-color:#ebebeb;
    --modal-bg-color:#FFFFFF;
    --modal-dimmer-color:rgba(0, 0, 0, 0.5);
    --modal-border-color:rgba(0, 0, 0, 0.12);
    --input-placeholder-color:#8B8B8B;
    --save-button-bg-color:#F9F9F9;
    --save-button-hover-bg-color:#efefef;
    --snackbar-primary-bg-color:#0FB203;
    --snackbar-error-bg-color:#A4070A;
    --snackbar-font-color:#ffff;
    --toggle-watch-button-hover-color:rgba(168, 254, 162, 0.5);
    --remove-button-hover-color:rgba(252, 128, 128, 0.5)
}

body {
    padding: 64px 0;
    font-size: 16px;
}

#app {
    max-width: 1020px;
    margin: 0 auto;
}

.classroom-container__title {
    text-align: center;
    font-weight: bold;
    font-size: 34px;
    line-height: 36px;
    margin-bottom: 64px;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.8rem ;
}

.button {
    cursor: pointer;
    border-radius: 4px;
    border: none;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1.25px;
}

.button:disabled {
    background-color: var(--button-disabled-bg-color);
}

.nav__button {
    width: 80px;
    height: 36px;
    background: var( --nav-bg-color);
    margin-left: 1.25rem;
}

.nav__button:hover,.nav__button.selected {
    background-color: var(--nav-hover-bg-color);
}


.hide {
    display: none !important;
}


/*!*********************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/css/modal.css ***!
  \*********************************************************************/
.modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}


.dimmer {
    position: absolute;
    width: 100%;
    height: 100%;
    background:var(--modal-dimmer-color);
}

.modal-content {
    position: relative;
    width: 1080px;
    height: 727px;
    background: var(--modal-bg-color);
    border: 1px solid var(--modal-border-color);
    border-radius: 4px;
    padding: 50px 30px 32px 30px;
}

.modal-content__title {
    font-weight: bold;
    font-size: 34px;
    line-height: 36px;
    text-align: center;
    margin-bottom: 40px;
    
}

@media screen and (max-width:1279px){
    .modal-content{
       width:80%;
    }
}
/*!************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/css/snackbar.css ***!
  \************************************************************************/

@keyframes fadeIn {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }

  @keyframes fadeOut {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

.snackbar-container{
    visibility: hidden;
    position: fixed;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    width:300px;
    max-height:150px;
    background-color: var(--snackbar-primary-bg-color);
    color:var( --snackbar-font-color);
    padding: 20px;
    display:flex;
    justify-content: center;
    -webkit-box-shadow: 2px 2px 13px -4px rgba(0,0,0,0.82); 
    box-shadow: 2px 2px 13px -4px rgba(0,0,0,0.82);
}

.snackbar-container.show {
    visibility: visible;
    animation: fadeIn 0.6s, fadeOut 0.6s 3.5s;
}

.snackbar-container.error{
    background-color: var( --snackbar-error-bg-color);
}
/*!*****************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/css/classroomMain.css ***!
  \*****************************************************************************/
.classroom-main__list{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    justify-items: center;
}

.no-save__image{
    max-width:100%;
    max-height:100%;
}

.list-item__toggle-button, .list-item__remove-button{
    border :none;
    cursor: pointer;
    padding: 0.5rem;
    background-color: transparent;
}

.list-item__toggle-button:hover, .list-item__toggle-button.watched{
    background-color: var(--toggle-watch-button-hover-color);
}

.list-item__remove-button:hover{
    background-color: var( --remove-button-hover-color);
}

@media screen and (max-width:1279px){
    .classroom-main__list{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width:959px){
   .classroom-main__list{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:599px){
    .classroom-main__list{
        grid-template-columns: repeat(1, 1fr);
    }
}
/*!**********************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/css/search.css ***!
  \**********************************************************************/

.search-input {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.search-input__keyword {
    width: 400px;
    height: 36px;
    margin-right: 20px;
    padding: 4px 8px;
    border: 1px solid #B4B4B4;
    border-radius: 4px;
}

.search-input__keyword::placeholder {
    color: var(--input-placeholder-color);
    font-size: 16px;
}

.search-input__search-button {
    width: 72px;
    height: 36px;
    background: var(--button-bg-color);
    color: var(--button-font-color);
}

.search-result.search-result--no-result {
    justify-content: center;
    align-items: center;
}

.skeleton {
    width: 236px;
}

.skeleton .image,
.skeleton .line {
    background-image: linear-gradient(
    90deg,
    #e0e0e0 0px,
    #ededed 30px,
    #e0e0e0 60px
    );
    animation: refresh 2s infinite ease-out;
    margin-bottom: 10px;
}
  
.skeleton .image {
    height: 150px;
}
  
.skeleton .line {
    height: 16px;
}
  
.skeleton .line:last-child {
   width: 80%;
}
  
@keyframes refresh {
  0% {
    background-position: calc(-100px);
  }
    
   40%,
   100% {
    background-position: 320px;
  }
}

.no-result {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 80px 0;
}

.no-result__image {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 190px;
    height: 180px;
    margin-bottom: 32px;
}

.search-result__list {
    width: 100%;
    height: 493px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    overflow-y: scroll;
    justify-items: center;
}

#search-result-scroll-observer {
    position: relative;
    width: 240px;
    height: 255px;
}

.list-item{
    position: relative;
    width: 240px;
    height: 255px;
}

.list-item__thumbnail {
    width: 100%;
    height: 135px;
}

.list-item__title {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 4px 0;
}

.list-item__channel-name {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-item__published-date {
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.5px;
}

.list-item__save-button {
    position: absolute;
    right: 0;
    width: 80px;
    height: 36px;
    background: var(--save-button-bg-color);
    margin-top: 4px;
}

.list-item__save-button:hover {
    background: var( --save-button-hover-bg-color);
}

.no-result__image{
    width:700px;
    height:450px;
}


@media screen and (max-width:1279px){
    .search-result__list{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width:959px){
    .search-result__list{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:599px){
    .search-result__list{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width:700px){
    .no-result__image{
        max-width:100%;
        max-height:100%;
    }
}

/*!*********************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/css/index.css ***!
  \*********************************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol,ul {
    list-style: none;
}

html, body {
    height: 100%;
    -webkit-font-smoothing: antialiased;
}

input, button, textarea, select {
    font: inherit;
}


/*# sourceMappingURL=style.css.map*/